<!DOCTYPE html>
<html>

<body>

    <h1>Moview Review Sentiment Analysis</h1>

    <form action="/result" method="post">
        <label for="reviewm">Movie Review:</label>
        <textarea rows="25" cols="50" type="text" id="mreview" name="review"></textarea><br><br>
        <button type="button" onclick="sendreq()">Submit</button>
    </form>

    <p id="display"></p>

    <script>
        function sendreq() {
            var review = document.getElementById("mreview").value;
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "http://127.0.0.1:5000/result", true);
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.send(JSON.stringify({ review: review }));

            xhr.onload = function () {
                console.log(this.responseText);
                var data = JSON.parse(this.responseText);
                console.log(data);
                var display = document.getElementById("display");
                if (data.prediction == 0) {
                    display.innerHTML = "Sentiment: Negative <br> Confidence: " + data.confidence + "%";
                } else if (data.prediction == 1) {
                    display.innerHTML = "Sentiment: Positive <br> Confidence: " + data.confidence + "%";
                } else {
                    display.innerHTML = "Sentiment: Unsure";
                }
            }
        }
    </script>

</body>

</html>